<!DOCTYPE html>
    <html>
    <head>
        <title>Home page</title>
    </head>
    <body>
    <h1 class="text-center text-primary">hello sign up and start viewing our products</h1>
    <br />
    <div class="text-center">
        <a class="btn btn-primary" href="#">Login</a>
        <a class="btn btn-primary" href="Home/SignUp">Sign Up</a>
    </div>
    
    </body>
    </html>